In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv('customer.csv')

In [32]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

# Ordinal Encoding

In [43]:
df_ordinal = df.iloc[:,2:4]
df_ordinal['review'].value_counts()

Poor       18
Good       18
Average    14
Name: review, dtype: int64

In [44]:
df_ordinal['education'].value_counts()

PG        18
School    16
UG        16
Name: education, dtype: int64

In [45]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(df_ordinal)
df_ordinal = oe.transform(df_ordinal)

In [73]:
df_ordinal= pd.DataFrame(df_ordinal)

In [47]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Label Encoding

In [49]:
y=df['purchased']
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(y)
df_label = le.transform(y)

In [51]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [67]:
df_label

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])

# One hot Encoding

In [52]:
df['gender'].value_counts()

Female    29
Male      21
Name: gender, dtype: int64

In [69]:
dummies= pd.get_dummies(df['gender'])
dummies

    Female  Male
0        1     0
1        1     0
2        1     0
3        1     0
4        1     0
5        1     0
6        0     1
7        1     0
8        1     0
9        0     1
10       1     0
11       0     1
12       0     1
13       1     0
14       0     1
15       0     1
16       0     1
17       1     0
18       0     1
19       0     1
20       1     0
21       0     1
22       1     0
23       1     0
24       1     0
25       1     0
26       1     0
27       1     0
28       0     1
29       1     0
30       0     1
31       1     0
32       0     1
33       1     0
34       0     1
35       0     1
36       1     0
37       0     1
38       1     0
39       0     1
40       0     1
41       0     1
42       1     0
43       0     1
44       1     0
45       0     1
46       1     0
47       1     0
48       1     0
49       1     0

In [70]:
age=df[['age']]

In [75]:
merged=pd.concat([age, dummies, df_ordinal],axis='columns')
merged

    age  Female  Male    0    1
0    30       1     0  1.0  0.0
1    68       1     0  0.0  1.0
2    70       1     0  2.0  2.0
3    72       1     0  2.0  2.0
4    16       1     0  1.0  1.0
5    31       1     0  1.0  0.0
6    18       0     1  2.0  0.0
7    60       1     0  0.0  0.0
8    65       1     0  1.0  1.0
9    74       0     1  2.0  1.0
10   98       1     0  2.0  1.0
11   74       0     1  2.0  1.0
12   51       0     1  0.0  0.0
13   57       1     0  1.0  0.0
14   15       0     1  0.0  2.0
15   75       0     1  0.0  1.0
16   59       0     1  0.0  1.0
17   22       1     0  0.0  1.0
18   19       0     1  2.0  0.0
19   97       0     1  0.0  2.0
20   57       1     0  1.0  0.0
21   32       0     1  1.0  2.0
22   18       1     0  0.0  2.0
23   96       1     0  2.0  0.0
24   16       1     0  1.0  2.0
25   57       1     0  2.0  0.0
26   53       1     0  0.0  2.0
27   69       1     0  0.0  2.0
28   48       0     1  0.0  0.0
29   83       1     0  1.0  1.0
30   73       0     1  1.0  1.0
31   22       1     0  0.0  0.0
32   92       0     1  1.0  1.0
33   89       1     0  2.0  2.0
34   86       0     1  1.0  0.0
35   74       0     1  0.0  0.0
36   34       1     0  2.0  1.0
37   94       0     1  1.0  2.0
38   45       1     0  2.0  0.0
39   76       0     1  0.0  2.0
40   39       0     1  2.0  0.0
41   23       0     1  2.0  2.0
42   30       1     0  2.0  2.0
43   27       0     1  0.0  2.0
44   77       1     0  1.0  1.0
45   61       0     1  0.0  2.0
46   64       1     0  0.0  2.0
47   38       1     0  2.0  2.0
48   39       1     0  2.0  1.0
49   25       1     0  2.0  1.0